body{
  background-color: lightblue;
place-content: center; 

}

main{
text-align: center;
background-color: white;
border-radius: 4%;
padding:  0.5rem ;
margin: 27dvh 3.5rem;
font-family: 'Josefin Sans', sans-serif;
}

img{
margin-top: 0.5rem;
  border-radius: 5%;
  width: 50%;
}

h6{
  font-size: 0.8rem; 
  margin: auto;
}

p{
 color: gray;
  font-size: 0.6rem;
}

footer{
  font-size: 1.3vw;
  text-align: center;
color: whitesmoke;
}

a:hover{
  color: yellowgreen;
}

@media(min-width:700px){
  main{
    margin: 28dvh 13rem;
  }

  img{
    width: 50%;
    height: 80%;
  }

   h6{
    font-size: 1.2rem;
  }
  
  p{
    font-size: 1rem;
  }
 
}

@media(min-width:1024px){
  main{
    margin: 28dvh 11.5rem;
  }
  
  h6{
    font-size: 2.4rem;
  }

  p{
    font-size: 2rem;
  }
 
}

@media(min-width:1440px){
  main{
    margin: 28dvh 22rem;
}
}