body{
  background-color: rgb(73, 95, 104);
 display: grid;
place-content: center; 

}

header{
  font-size: 1.3vw;
  text-align: center;
color: whitesmoke;
}

.pic{
margin-top: 0.5rem;
  border-radius: 5%;
}

main{
text-align: center;
background-color: white;
border-radius: 4%;
padding: 0.1rem 0.5rem;
margin: 2rem 25rem;
font-family: 'Josefin Sans', sans-serif;
}

p{
 color: gray;
  font-size: 0.5rem;
}

a:hover{
  color: yellowgreen;
}

h6{
  font-size: 1rem; 
  margin: auto;
}
