body{
  background-color: rgb(73, 95, 104);
}

.small{
  font-size: 12px;
  text-align: center;
}

.pic{
  padding-top: 8px;
  border-radius: 8%;

}

.vid{
text-align: center;
background-color: white;
border-radius: 3%;
padding-bottom: 14px;
margin: 51px 400px;
font-family: 'Josefin Sans', sans-serif;
}

.b{
  color: grey;
  font-size: 9px;
}

a:hover{
  color: yellowgreen;
}

#bold{
  font-size: 14px;
 
}